/* geral */
*{
    padding: 0;
    margin: 0;
    font-family: helvetica;
    color: rgb(19, 18, 17);
    box-sizing: border-box;
}
/*  imagem de fundo*/
body{
    background-image: url("../img/tree-gf34f02f40_640.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
 
button{
    background-color: rgb(27, 72, 7);
    color: antiquewhite;
    border: 2px solid rgb(43, 249, 74);
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-items: center;
    align-items: center;
    transition: 0.4s;
}
button:hover{
    background-color: rgb(250, 250, 25);
    color:rgb(43, 249, 74)
}
button:hover>i{
    color:rgb(43,249,74);
}
button i{
    color: antiquewhite;
    font-weight:bolder;
    pointer-events: none;
}
input,
select{
    padding: 0.25rem 0.5rem;
    
}
.hide {
    display: none;
}

/* header- cabeçalho*/

.todo-container{
max-width: 450px;
margin: 3rem auto;
background-color: rgba(240, 248, 255, 0.172);
padding: 1.5rem;
border-radius: 15px;


}

.todo-container header{
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}
#todo-form p,
#edit-form p{
padding: 1rem;
border-bottom: 1px solid #ccc; 
}

#todo-form,
#edit-form{
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.form-control{
    display: flex;
}
.form-control input{
    margin-right: 0.3rem;
    
}
#cancel-edit-btn{
    margin-top: 1rem;
}

/*to do tollbar*/
#toolbar{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}
#toolbar h4{
    margin-bottom: .5rem;

}
#search{
    border-right: 1px solid #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}
#search form{
display: flex;

}
#search input{
    width: 100%;
    margin-right: 0.3rem;

}
#filter{
    width: 35%;
    display: flex;
    flex-direction: column;
    
}
#filter select{
    flex: 1;
    
}

/*to do list*/

.todo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    transition: .5s;
}
.todo h3{
    flex: 1;
    font-size: 0.9rem;
}
.todo bottom{
    margin-left: 0.4rem;
}
.done{
    background-color: rgba(225, 18, 42, 0.482);
}
.done h3{
    color: rgb(241, 234, 234);
    text-decoration: line-through;
    font-style: italic;
}